@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

body{
	background-color:black;
	font-family: 'Hind Siliguri', sans-serif;
	}

/* header & footer */

	header{
		background-color: white;
		display:flex;
		margin:2%;
		padding:1%;
		justify-content:space-between;
		border:0.2rem solid white;
		margin-bottom: 5%;
		box-shadow:  -5px 5px 0px rgb(210,210,210),
					 -10px 10px 0px rgb(255,255,255), 
					 -15px 15px 0px rgb(210,210,210), 
					 -20px 20px 0px rgb(255,255,255);
	}

		header h1{
			display: flex;
			text-align: center;
			align-items:center;
			margin-left:2%;
			font-weight:700;
		}

		header h2{
			display: flex;
			text-align: center;
			align-items:center;
			margin-right: 2%;
		}

	footer{
		background-color: white;
		display:flex;
		margin:2%;
		padding:1%;
		justify-content:space-between;
		border:0.2rem solid white;
		margin-top:10%;
		box-shadow:  5px -5px 0px rgb(210,210,210), 
					 10px -10px 0px rgb(255,255,255), 
					 15px -15px 0px rgb(210,210,210), 
					 20px -20px 0px rgb(255,255,255);
	}

		footer h1{
			display: flex;
			text-align: center;
			align-items:center;
			margin-left:2%;
			font-weight:700;
		}

		footer h3 {
			display: flex;
			text-align: center;
			align-items:center;
			margin-right: 2%;
			margin-left: 2%;
		}

/* main et gestion des pistes sur affichage.php*/

main{
	background-color: white;
	border:solid 1rem rgb(0,0,0);
	
}

	.containAllTracks{
		background-color:black;
		margin:0;
		display:flex;
		flex-direction:column;
	}

	.containTrack{
		background-color:white;
		display:flex;
		flex-flow:row nowrap;
		justify-content: center;
		border:solid 0.5em black;
		margin:1% 2% 1% 2%;
	}
	
	.containTrack:first-child{
		margin-top:2%;
	}
	
	.containTrack:last-child{
		margin-bottom:2%;
	}
	
	.border{
		margin-right:5%;
		margin-left:5%;
		padding:1%;
		background-color:white;
		box-shadow:  5px 5px 0px rgb(210,210,210), 
					 10px 10px 0px rgb(255,255,255), 
					 15px 15px 0px rgb(210,210,210), 
					 20px 20px 0px rgb(255,255,255);
	}

	main div:first-child{
		margin:2%;
		/* border:solid 0.25rem; */
	}

.imgDiv{
	display:flex;
	align-items:center;
	justify-content:center;
}

	main div img{
		margin:0;
		border:solid black 0.25rem;
	}

	main div:nth-child(2){
		display:flex;
		flex-direction:column;
		align-items: start;
		margin:2%;
	}

	main section a:last-child{
		align-content: center;
		margin:auto;
		padding:auto;
	}

	main a{
		font-size:2em;
	}

/* formulaires sur ajouter.php et modifier.php */

.divForm{
	
	display:grid;
	grid-template-columns: 3fr 6fr 3fr;
	
	/* margin-bottom:10%; */
}

	form{
		
		background-color: white;
		grid-column:2;
		padding-top:4%;
		box-shadow:  5px 5px 0px rgb(210,210,210), 
					10px 10px 0px rgb(255,255,255), 
					15px 15px 0px rgb(210,210,210), 
					20px 20px 0px rgb(255,255,255);
	}
	
	form h1{
		margin-right:5%;
		margin-left:5%;
	}
	
	form fieldset{
		display:flex;
		flex-direction:column;
		padding-left:33%;
		padding-right:33%;
	}

	.inputForm{
		margin-left:5%;
		font-size:1.5em;
		margin-bottom: 2%;
	}
	
	.endInput{
		margin-bottom:5%;
		padding-top:0;
	}
	
	.titreForm{
		text-align:center;
		margin-bottom:5%;
	}

fieldset{
	border:0;
}

/* gestion des inputs/liens*/

a{
	text-decoration:none;
}

.scherzo{
	color:yellow;	
	-webkit-text-stroke: 1.5px black;
	text-decoration:none;
	text-shadow:  2px 2px 0px yellow, 
				4px 4px 0px black, 
				6px 6px 0px yellow, 
				8px 8px 0px black;
}
	
	.scherzo:hover{
		color:black;
		-webkit-text-stroke: 1.5px yellow;
		text-shadow:  2px 2px 0px black, 
					4px 4px 0px yellow, 
					6px 6px 0px black, 
					8px 8px 0px yellow; 
}
	
.btnBrutal{
	background-color:black;
	border:0px;
	color:white;
	box-shadow:  2px 2px 0px rgb(210,210,210), 
				4px 4px 0px rgb(255,255,255), 
				6px 6px 0px rgb(210,210,210), 
				8px 8px 0px rgb(255,255,255);
}

	.btnBrutal:hover{
		background-color:white;
		color:black;
		box-shadow:  2px 2px 0px rgb(50,50,50), 
					4px 4px 0px rgb(0,0,0), 
					6px 6px 0px rgb(50,50,50), 
					8px 8px 0px rgb(0,0,0);
	}

.btnBrutal2{
	padding:1%;
	background-color:black;
	color:white;
	box-shadow:  2px 2px 0px rgb(210,210,210), 
				4px 4px 0px rgb(255,255,255), 
				6px 6px 0px rgb(210,210,210), 
				8px 8px 0px rgb(255,255,255);
}

	.btnBrutal2:hover{
		background-color:white;
		/* border:solid black 2px; */
		color:black;
		box-shadow:  2px 2px 0px rgb(50,50,50), 
					4px 4px 0px rgb(0,0,0), 
					6px 6px 0px rgb(50,50,50), 
					8px 8px 0px rgb(0,0,0);
	}
	
.btnBrutal3{
	padding:5%;
	margin:5%;
	background-color:black;
	/* border:solid white 2px; */
	color:white;
	box-shadow:  2px 2px 0px rgb(210,210,210), 
				4px 4px 0px rgb(255,255,255), 
				6px 6px 0px rgb(210,210,210), 
				8px 8px 0px rgb(255,255,255);
}

	.btnBrutal3:hover{
		background-color:white;
		/* border:solid black 2px; */
		color:black;
		box-shadow:  2px 2px 0px rgb(50,50,50), 
					4px 4px 0px rgb(0,0,0), 
					6px 6px 0px rgb(50,50,50), 
					8px 8px 0px rgb(0,0,0);
	}
	
h2{
	font-weight:700;
}

.titreMorceau{
	background-color:black;
	color:white;
	padding:1%;
	margin-left:2.5%;
}

/* lecteur audio */

audio{
	width:25vw;
}

audio::-webkit-media-controls-enclosure {
    border-radius: 0px;
	border: solid 4px black;
}

audio::-webkit-media-controls-panel  {
  background-color: yellow;
  border: solid 1px black;
}

audio::-webkit-media-controls-mute-button {
  margin:1%;
}

	audio::-webkit-media-controls-mute-button:hover {
	  background-color: rgba(255,255,255,1);
	}

audio::-webkit-media-controls-play-button {
  margin:1%;
}

	audio::-webkit-media-controls-play-button:hover {
	  background-color: rgba(255,255,255,1);
	}
	
audio::-webkit-media-controls-current-time-display {
  color:black;
  font-weight:700;
  margin:1%;
}

audio::-webkit-media-controls-time-remaining-display {
  color:black;
  font-weight:700;
  margin:1%;
}

audio::-webkit-media-controls-timeline {
  margin: 1%;
}

	audio::-webkit-media-controls-timeline:hover {
	  background-color: rgba(255,255,255,1);  
	}

audio::-webkit-media-controls-volume-slider {
	padding-left: 8px;
	padding-right: 8px;
}

	audio::-webkit-media-controls-volume-slider:hover {
		background-color: white;
	}

audio::-webkit-media-controls-toggle-closed-captions-button {
     margin: 1%;
}

	audio::-webkit-media-controls-toggle-closed-captions-button:hover {
		background-color: white;
	}


